<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <h2> Welcome to Sluck, like Slack, but it sucks!</h2>
</head>
<body>
    <script>
        let user = sessionStorage.getItem("user");
        if (user == null) {
            let name = prompt("Please enter your name:");
            while (name == '' || name == null) {
                name = prompt("Please enter your name:");
            }
            sessionStorage.setItem("user", name)
            const requestOptions = {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: name
            };

            fetch('/users', requestOptions)
                .then(response => response.json())
                .then(updatedUserData => {
                    // Update the user object in sessionStorage
                    sessionStorage.setItem("user", JSON.stringify(updatedUserData))
                })}


    </script>
    <h4> Choose a channel</h4>
    <div th:each="channel : ${channels}">
        <span > <a th:href="@{/channels/{id}(id=${channel.id})}" th:text="${channel.channelName}"></a></span>
    </div>
</body>
</html>